<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- 使用映射接口的方式， 命名空间的值必须与映射接口的全限定名一致 -->
<mapper namespace="com.xiaomi.mapper.AddressMapper" >
  	<insert id="addAddress" parameterType="Address" >
  		insert into address values (seq_address_addrId.nextval,#{usersId},
  		#{province},#{city},#{county},#{detailAddr},#{addrTel},0,#{postcode},#{recipient},'','')
	</insert>
	
	<update id="updateAddress" parameterType="Address" >
		update address set
		<if test="usersId != null and usersId != ''" >
	        usersId=#{usersId},
	    </if>
	    <if test="province != null and province != ''" >
	        province=#{province},
	    </if>
	    <if test="city != null and city != ''" >
	        city=#{city},
	    </if>
	    <if test="county != null and county != ''" >
	        county=#{county},
	    </if>
	    <if test="detailAddr != null and detailAddr != ''" >
	        detailAddr=#{detailAddr},
	    </if>
	    <if test="addrTel != null and addrTel != ''" >
	        addrTel=#{addrTel},
	    </if>
	    <if test="defaultaddr != null and defaultaddr != ''" >
	        defaultaddr=#{defaultaddr},
	    </if>
	    <if test="postcode != null and postcode != ''" >
	        postcode=#{postcode},
	    </if>
	    <if test="recipient != null and recipient != ''" >
	        recipient=#{recipient}
	    </if>
		 	where addrId=#{addrId}
	</update>
	
	<select id="findAddrInfoById" parameterType="int" resultType="Address">
		select * from address where usersId = #{usersId}
	</select>
	
	<select id="selectTotalAddress" resultType="int">
		select count(1) from address
	</select>
	<select id="getAllAddress" resultType="Address" parameterType="map">
		select * from (select a.*,rownum rn from 
		(select d.*,usersName from address d,usersInfo u where d.usersId=u.usersId order by addrId)
		 a where #{pageNo} >=rownum)b where rn>#{pageSize} order by addrId asc
	</select>
	
	
	<select id="findAddressByInfo" resultType="Address" parameterType="map">
		select u.usersName,b.* from (select a.*,rownum rn from (select * from address order by addrId)
		a where #{pageNo} >=rownum)b,usersInfo u where rn>#{pageSize} and b.usersId=u.usersId 
			<if test="province != null and province != ''" >
		        and b.province = #{province}
		    </if>
		    <if test="city != null and city !='' " >
		        and b.city = #{city}
		    </if>
		    <if test="county != null and county !='' " >
		        and b.county = #{county}
		    </if>
		    <if test="usersName != null and usersName != '' " >
		        and u.usersName like '%${usersName}%'
		    </if>
	</select>
</mapper>