<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- 使用映射接口的方式， 命名空间的值必须与映射接口的全限定名一致 -->
<mapper namespace="com.xiaomi.mapper.ArticleMapper" >

	<select id="getallarticle" resultType="ArticleBean">
		select b.* from (select a.*,rownum rn from 
		(select artId,artTitle,artAuth,artStaTime,artViews,artWeight,artSta,(select count(1) from artcomment where artId=ae.artId) commentsCount from article ae where artSta=1) a where #{pageNo} >=rownum)b where rn>#{pageSize}
	</select>
	
	<select id="selectTotalArticle" resultType="int">
		select count(1) from article
	</select>
	
	<select id="selectArticleByData" resultType="ArticleBean">
		select b.* from (select a.*,rownum rn from 
		(select artId,artTitle,artAuth,artStaTime,artViews,artWeight,artSta,(select count(1) from artcomment where artId=ae.artId) commentsCount from article ae
		<where>
		      <if test="articleBean.artTitle!= null and articleBean.artTitle!= ''" >
		        ae.artTitle like '%${articleBean.artTitle}%'
		      </if>
		       <if test="articleBean.artAuth != null and articleBean.artAuth != ''" >
		        and ae.artAuth like '%${articleBean.artAuth}%'
		      </if>
		      <if test="articleBean.artStaTime != null and articleBean.artStaTime != ''">
	        	and ae.artStaTime>=to_date(#{articleBean.artStaTime},'yyyy-MM-dd')
		      </if>
		      <if test="articleBean.artSta != null and articleBean.artSta != '' and articleBean.artSta !=0">
	        	and ae.artSta=#{articleBean.artSta}
		      </if>
	      </where>) a where #{pageNo} >=rownum)b where rn>#{pageSize}
    
  </select>
  
  <select id="selectArticleByArtId" parameterType="ArticleBean" resultType="ArticleBean">
    	select artId,artTitle,artAuth,artStaTime,fileinfo,artCont,artPic,artWeight,artSta from article
  		<where>		 
		      <if test="artId != null and artId != ''">
	        	and artId=#{artId}
		      </if>
	      </where>
  </select>
  
  <insert id="insertArticle" parameterType="ArticleBean" >
	    insert into article values(seq_article_artId.nextval,#{artTitle},#{artAuth},to_date(#{artStaTime},'yyyy-MM-dd'),#{fileinfo},#{artCont},#{artPic},0,#{artWeight},1,'','')
   </insert>
   
   <update id="updateArticle" parameterType="ArticleBean">
		update article
		<set>
			<if test="artTitle!=null">
				artTitle=#{artTitle},
			</if>
			<if test="artAuth!=null">
				artAuth=#{artAuth},
			</if>
			<if test="artStaTime!=null">
				artStaTime=to_date(#{artStaTime},'yyyy-MM-dd'),
			</if>
			<if test="artCont!=null">
				artCont=#{artCont},
			</if>
			<if test="artPic!=null">
				artPic=#{artPic},
			</if>
			<if test="artWeight!=null">
				artWeight=#{artWeight},
			</if>
			<if test="artSta!=null">
				artSta=#{artSta},
			</if>
			<if test="fileinfo!=null">
				fileinfo=#{fileinfo}
			</if>
		</set>
		<if test="artId!=0">
			where artId=#{artId}
		</if>
	</update>
	
	<update id="updateartSta" parameterType="ArticleBean">
		update article set artSta=2 where artId=#{artId}
	</update>
	
	<select id="getarticle" resultType="ArticleBean">
		select b.* from (select a.*,rownum rn from 
		(select artId,artTitle,artAuth,artStaTime,artViews,artWeight,artSta,(select count(1) from artcomment where artId=ae.artId) commentsCount from article ae) a where #{pageNo} >=rownum)b where rn>#{pageSize}
	</select>
	
	<select id="findindexArticle" resultType="ArticleBean">
    	select artId,artTitle,artAuth,artStaTime,fileinfo,artViews,artPic,artWeight,(select count(1) from artcomment where artId=ae.artId) commentsCount from article ae where ae.artWeight=1 and artSta=1 and 5>rownum order by artStaTime
   </select>
    
   
   <resultMap type="ArticleBean" id="ArticleBeanMap">
		<id property="artId" column="artId"/>
		<collection property="artcomments" column="artId" ofType="Artcomment" select="getArtcommentByArtId"></collection>
		
	</resultMap>
	
	<select id="findarticlebyInfo"  parameterType="ArticleBean" resultMap="ArticleBeanMap">
		select artId,artTitle,artAuth,artStaTime,artCont,artPic,artViews,(select count(1) from artcomment where artId=ae.artId) commentsCount from article ae
  		<where>		 
		      <if test="artId != null and artId != ''">
	        	and ae.artId=#{artId}
		      </if>
	      </where>
	</select>
	
	<select id="getArtcommentByArtId" parameterType="int" resultType="Artcomment">
		select b.*,rownum rn from (select comId,artId,a.usersId,usersName,comCont,comDate from artcomment a,usersInfo u where a.usersId=u.usersId and artId=#{artId} order by comDate desc)b where 5>=rownum
	</select>
	
   <update id="updateViews" parameterType="ArticleBean">
		update article set artViews=artViews+1 where artId=#{artId}
	</update>
</mapper>