<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- 使用映射接口的方式， 命名空间的值必须与映射接口的全限定名一致 -->
<mapper namespace="com.xiaomi.mapper.ManagerMapper" >
  	<select id="login" parameterType="Manager" resultType="Manager">
		select * from Manager where manaName=#{manaName} and manaPwd=#{manaPwd}
	</select>
	
	<insert id="addManager" parameterType="Manager" >
	    insert into Manager values(seq_manager_manaId.nextval,#{manaName},#{manaSex},#{manaPwd},1,'','')
	</insert>
	
	<select id="selectTotalManager" resultType="int">
		select count(1) from Manager
	</select>
	
	<select id="getAllManager" resultType="Manager" parameterType="map">
		select b.* from (select a.*,rownum rn from 
		(select * from Manager order by manaId) a where #{pageNo} >=rownum)b where rn>#{pageSize} order by manaId asc
	</select>
	
	<update id="updateManager" parameterType="Manager">
		update Manager set manaName=#{manaName},manaSex=#{manaSex},manaPwd=#{manaPwd},manaSta=#{manaSta} where manaId =#{manaId}
	</update>
	
	<delete id="delManager" parameterType="int">
		update manager set manaSta=0 where manaId =#{manaId}
	</delete>
</mapper>