<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- 使用映射接口的方式， 命名空间的值必须与映射接口的全限定名一致 -->
<mapper namespace="com.xiaomi.mapper.TypegoodsMapper" >
  <select id="findAllTypeGoods" resultType="Typegoods" parameterType="map">
  	select b.* from (select a.*,rownum rn from 
		(select * from typegoods order by typesId) a where #{pageNo} >=rownum)b where rn>#{pageSize} order by typesId asc
  </select>
  
  <select id="getTotalTypegoods" resultType="int">
  	select count(1) from typegoods
  </select>
  
  <update id="updateTypegoods" parameterType="Typegoods">
  	update typegoods set typesName=#{typesName},typesSta=#{typesSta} where typesId=#{typesId}
  </update>
  
  <delete id="delTypegoods" parameterType="int">
  	update typegoods set typesSta=0 where typesId=#{typesIds}
  </delete>
  
  <insert id="addTypegoods" parameterType="Typegoods">
  	insert into typegoods values (seq_typegoods_typesId.nextval,  #{typesName}, #{typesSta},'','')
  </insert>
</mapper>