<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- 使用映射接口的方式， 命名空间的值必须与映射接口的全限定名一致 -->
<mapper namespace="com.xiaomi.mapper.UsersInfoMapper" >
  	<insert id="addUsersInfo" parameterType="UsersInfo" >
	   insert into usersInfo values (seq_usersinfo_usersId.nextval,#{usersName},#{usersTel},#{usersEmail},#{usersPwd},#{usersIDCard},#{usersSex},'','','',1,'','')
	</insert>
	
	<select id="selectTotalUsers" resultType="int">
		select count(1) from usersInfo
	</select>
	
	<select id="getAllUsersInfo" resultType="UsersInfo" parameterType="map">
		select b.* from (select a.*,rownum rn from 
		(select * from usersInfo order by usersId) a where #{pageNo} >=rownum)b where rn>#{pageSize} order by usersId asc
	</select>
	
	<select id="getUsersInfoByInfo" resultType="UsersInfo" parameterType="map">
		select * from (select a.*,rownum rn from 
		(select * from usersInfo order by usersId) a where #{pageNo} >=rownum)b where rn>#{pageSize} 
			<if test="usersName != null and usersName != ''" >
		        and usersName like '%${usersName}%'
		    </if>
		    <if test="usersTel != null and usersTel !='' " >
		        and usersTel like '%${usersTel}%'
		    </if>
		    <if test="usersEmail != null and usersEmail !='' " >
		        and usersEmail like '%${usersEmail}%'
		    </if>
	</select>
	
	<update id="updateUsersInfo" parameterType="UsersInfo">
		update usersInfo set usersName=#{usersName},usersSex=#{usersSex},usersTel=#{usersTel},usersEmail=#{usersEmail},
		usersIDCard=#{usersIDCard},usersPwd=#{usersPwd},usersSta=#{usersSta} where usersId =#{usersId}
	</update>
	
	<delete id="delUsersInfo" parameterType="int">
		update usersInfo set usersSta=0 where usersId = #{usersId}
	</delete>
	
	<select id="getAllUsersName" resultType="UsersInfo">
		select usersId,usersName from usersInfo
	</select>
	
	<select id="unameCheck" parameterType="string" resultType="UsersInfo">
		select * from usersInfo where usersName=#{usersName}
	</select>
	
	<select id="emailCheck" parameterType="string" resultType="UsersInfo">
		select * from usersInfo where usersEmail=#{usersEmail}
	</select>
	
	<select id="telCheck" parameterType="string" resultType="UsersInfo">
		select * from usersInfo where usersTel=#{usersTel}
	</select>
	
	<select id="idCardCheck" parameterType="string" resultType="UsersInfo">
		select * from usersInfo where usersIDCard=#{usersIDCard}
	</select>
	
	<select id="findUserByUsersInfo" parameterType="UsersInfo" resultType="UsersInfo">
		select * from usersInfo where usersTel=#{usersTel} or usersEmail=#{usersEmail} or usersName=#{usersName} and usersPwd=#{usersPwd}
	</select>
	
	<select id="findCountOfUser" parameterType="int" resultType="int">
		select count(1) from shopCar where usersId=#{usersId} and shopSta=1
	</select>
	
	<select id="findAddrInfoById" parameterType="int" resultType="Address">
		select * from address where usersId = #{usersId}
	</select>
</mapper>
