/* CSS Document */

.pro_buy{
	width:1224px;
	height:auto;
	float:left;
	margin-left:63px;
}

.pro_menu{
	width:1224px;
	height:92px;
	background:#FFF;
}

.pro{
	float:left;
	width:153px;
	height:92px;
	border-bottom:1px solid #DFDFDF;
	cursor:pointer;
}

.pro_1{
	float:left;
	width:153px;
	height:92px;
	border-bottom:1px solid #000;
	cursor:pointer;
}

.pro_1 span{
	float:left;
	margin-top:38px;
	margin-left:46px;
	font-size:14px;
	color:#333333;
}

.pro span{
	float:left;
	margin-top:38px;
	margin-left:46px;
	font-size:14px;
	color:#333333;
}

.pro_imgs{
	float:left;
	width:590px;
	height:530px;
}

.pro_img{
	float:left;
	margin-top:50px;
	margin-left:110px;
	width:480px;
	height:480px;
}